<!DOCTYPE html>
<html>
  <%- render('head.ejs', { title }) %>
  <style scoped><%= styles %></style>
  <body>
    <h1>Welcome to <%= title %></h1>
    <%- categories
      .map(category => render('/components/video-list/video-list.ejs', { category, videos }))
      .join('') %>
  </body>
</html>
